<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="rtw-dashboard-view">
  <template is="dom-repeat" items="{{tickets}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <h1>Mis tickets</h1>
      <h4 class="h4">Bienvenido!</h4>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Sucursal</th>
            <th scope="col">Fecha</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">[[item._id]]</th>
            <td>[[item.branchName]]</td>
            <td>[[item.branchTime]]</td>
            <td><button type="button" class="btn btn-danger">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-info" on-click="_getCustomerTickets">Obtener Tickets</button>
    </div>

    <iron-ajax id="getCustomerTickets" crossDomain: true dataType:'jsonp' method="GET" handle-as="json"
      on-response="_onOperationSuccess" on-error="_onOperationError">

  </template>

  <script>
    class DashboardView extends Polymer.Element {
      static get is() {
        return 'rtw-dashboard-view';
      }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true,
          },
        };
      }
      _getCustomerTickets() {
        this.$.getCustomerTickets.url = 'http://localhost:3000/tickets/v0/ticket/customer/' + sessionStorage
          .getItem('cUID');
        this.$.getCustomerTickets.headers = {
          'Access-Control-Allow-Headers': '*',
          'auth_token': sessionStorage.getItem('auth_token')
        };
        this.$.getCustomerTickets.generateRequest();
      }
      _onOperationSuccess(data) {
        this.tickets = data.detail.response.data.ticketsFound[0];
        console.log(this.tickets);
      }
      _onOperationError(error) {
        let httpStatus = error.detail.request.status;
        if (httpStatus === 401) {
          alert('Autenticación caducada');
        }
        console.log(error.detail.request.status);
      }
    }

    window.customElements.define(DashboardView.is, DashboardView);
  </script>
</dom-module>