<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="rtw-create-view">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>

    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <h1>Crear ticket</h1>
      <form action="#" class="container">
        <div class="form-group">
          <label for="operations-input">Operaciones a realizar (Ventanilla, Ejecutivo, Banquero)</label>
          <input class="form-control" type="text" name="operations-input" id="operations-input"
            value="{{operations::input}}" required>
        </div>
        <div class="form-group">
          <label for="zip-code-input">Código Postal</label>
          <input class="form-control" type="search" name="zip-code-input" id="zip-code-input" value="{{zipCode::input}}"
            required>
          <button on-click="_authAPIMKT" type="button" name="submit" class="btn btn-primary">Buscar</button>
        </div>
        <div class="form-group">
          <label for="branch-input">Selecciona Sucursal</label>
          <input class="form-control" type="text" name="branch-input" id="branch-input" value="{{branchName::input}}"
            required>
        </div>
        <div class="form-group">
          <label for="branch-input">Clave Sucursal</label>
          <input class="form-control" type="text" name="branch-input" id="branch-input" value="{{branchId::input}}"
            required disabled>
        </div>
        <div class="form-group">
          <label for="time-input">Horario Preferido</label>
          <input class="form-control" type="datetime-local" name="time-input" id="time-input" value="{{time::input}}"
            required>
        </div>
        <button on-click="_createTicket" type="button" name="submit" class="btn btn-primary">Crear</button>
    </div>
    </form>
    </div>

    <iron-ajax id="createTicket" url="http://localhost:3000/tickets/v0/ticket/create" content-type="application/json"
      crossDomain: true dataType:'jsonp' method="POST" handle-as="json" on-response="_onOperationSuccess"
      on-error="_onOperationError"> </iron-ajax>
    <iron-ajax id="authApiMKT" url="https://connect.bbvabancomer.com/token?grant_type=client_credentials"
      content-type="application/json" crossDomain: true dataType:'jsonp' method="POST" handle-as="json"
      on-response="_onRemoteAuthSuccess" on-error="_onOperationError"></iron-ajax>
    <iron-ajax id="getBranches" content-type="application/json" crossDomain: true dataType:'jsonp' method="GET"
      handle-as="json" on-response="_onRemoteOperationSuccess" on-error="_onOperationError"></iron-ajax>
  </template>

  <script>
    class CreateView extends Polymer.Element {
      static get is() {
        return 'rtw-create-view';
      }
      static get properties() {
        return {
          operations: {
            type: String,
          },
          branchId: {
            type: String,
          },
          branchName: {
            type: String,
          },
          time: {
            type: String,
          },
        };
      }
      _createTicket() {
        let body = {
          'customerId': sessionStorage.getItem('cUID'),
          'activityType': this.operations,
          'branchId': this.branchId,
          'branchName': this.branchName,
          'branchTime': this.time,
        };
        this.$.createTicket.body = body;
        this.$.createTicket.headers = {
          'Access-Control-Allow-Headers': '*',
          'auth_token': sessionStorage.getItem('auth_token')
        };
        this.$.createTicket.generateRequest();
      }

      _onOperationSuccess(response) {
        console.log(response.detail.response);
      }
      _onOperationError(error) {
        let httpStatus = error.detail.request.status;
        if (httpStatus === 401) {
          alert('Autenticación caducada');
        }
        console.log(error.detail.request.status);
      }

      _authAPIMKT() {
        this.$.authApiMKT.headers = {
          'Authorization': 'Basic YXBwLm14LnJ0dzpackRpaHhAT3lNemxEZTk5WSNabm1NaG0kQjAlNndAQVd5bXNjQmIjRDkleGNBcXpycTlFcGhObExJMDAjRiNr',
        };
        this.$.authApiMKT.generateRequest();
      }

      _onRemoteAuthSuccess(data) {
        let apiMKTAuth = data.detail.response.access_token;
        this.$.getBranches.url = "https://apis.bbvabancomer.com/v1/branches?postcode=" + this.zipCode;
        this.$.getBranches.headers = {
          'Authorization': 'jwt ' + apiMKTAuth,
        };
        this.$.getBranches.generateRequest();
      }
    }

    window.customElements.define(CreateView.is, CreateView);
  </script>
</dom-module>