<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="rtw-login-view">
  <template>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>

    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <form action="#" method="post" class="container">
        <div class="form-group">
          <label for="email-input">Correo Electrónico</label>
          <input class="form-control" type="email" name="email-input" id="email-input" value="{{email::input}}"
            required>
        </div>
        <div class="form-group">
          <label for="password-input">Contraseña</label>
          <input class="form-control" type="password" name="password-input" id="password-input"
            value="{{password::input}}" required>
        </div>
        <div class="form-group">
          <button on-click="_login" type="button" name="submit" class="btn btn-primary">Iniciar Sesión</button>
        </div>
      </form>

      <iron-ajax id="doLogin" url="http://localhost:3000/customers/v0/customer/login" content-type="application/json"
        crossDomain: true dataType:'jsonp' method="POST" handle-as="json" headers="Access-Control-Allow-Headers: *"
        on-response="_onOperationSuccess" on-error="_onOperationError">
      </iron-ajax>
    </div>
  </template>

  <script>
    class LoginView extends Polymer.Element {
      static get is() {
        return 'rtw-login-view';
      }
      static get properties() {
        return {
          cname: {
            type: String,
          },
          lastName: {
            type: String,
          },
          secondLastName: {
            type: String,
          },
          email: {
            type: String,
          },
          password: {
            type: String,
          },
        };
      }
      _login() {
        let body = {
          'email': this.email,
          'password': this.password,
        };
        this.$.doLogin.body = body;
        this.$.doLogin.generateRequest();
      }
      _onOperationSuccess(response) {
        let authToken = response.detail.xhr.getResponseHeader('auth_token');
        onResponseSuccess(authToken, response.detail.response);
        
      }
      _onOperationError(error) {
        let httpStatus = error.detail.request.status;
        if (httpStatus === 404) {
          alert('Usuario no encontrado o autenticación inválida');
        }
        console.log(error.detail.request.status);
      }
    }

    function onResponseSuccess(authToken, response) {
      sessionStorage['auth_token'] = authToken;
      sessionStorage['cUID'] = response.customerId;
    }

    window.customElements.define(LoginView.is, LoginView);
  </script>
</dom-module>