<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="rtw-signup-view">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <form action="#" method="post" class="container" id="signup-form">
        <div class="form-group">
          <label for="name-input">Nombre</label>
          <input class="form-control" type="text" name="name-input" id="name-input" value="{{cname::input}}" required>
        </div>
        <div class="form-group">
          <label for="lastName-input">Apellido Paterno</label>
          <input class="form-control" type="text" name="lastName-input" id="lastName-input" value="{{lastName::input}}"
            required>
        </div>
        <div class="form-group">
          <label for="secondLastName-input">Apellido Materno</label>
          <input class="form-control" type="text" name="secondLastName-input" id="secondLastName-input"
            value="{{secondLastName::input}}" required>
        </div>
        <div class="form-group">
          <label for="gender-input">Género</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender-radio" id="gender-male-radio">
            <label class="form-check-label" for="gender-male-radio">Masculino</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender-radio" id="gender-female-radio">
            <label class="form-check-label" for="gender-female-radio">Femenino</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender-radio" id="gender-unespecified-radio">
            <label class="form-check-label" for="gender-unespecified-radio">Prefiero no especificar</label>
          </div>
        </div>
        <div class="form-group">
          <label for="email-input">Correo Electrónico</label>
          <input class="form-control" type="email" name="email-input" id="email-input" value="{{email::input}}"
            required>
        </div>
        <div class="form-group">
          <label for="password-input">Contraseña</label>
          <input class="form-control" type="password" name="password-input" id="password-input"
            value="{{password::input}}" required>
        </div>
        <p class="p-text-base">Al pulsar <strong>Registrarse</strong> aceptas los Términos y condiciones</p>
          <div class="form-group">
            <button on-click="_signUp" type="button" name="submit" class="btn btn-primary">Registrarse</button>
          </div>
        <p id="login-success"></p>
      </form>

      <iron-ajax id="doSignUp" url="http://localhost:3000/customers/v0/customer/create" content-type="application/json"
        crossDomain: true dataType:'jsonp' method="POST" handle-as="json" headers="Access-Control-Allow-Headers: *"
        on-response="_onOperationSuccess" on-error="_onOperationFailure">
      </iron-ajax>
      <iron-ajax id="doLogin" url="http://localhost:3000/customers/v0/customer/login" content-type="application/json"
        crossDomain: true dataType:'jsonp' method="POST" handle-as="json" headers="Access-Control-Allow-Headers: *"
        on-response="_onOperationSuccess" on-error="_onOperationFailure">
      </iron-ajax>
    </div>
  </template>

  <script>
    class SignupView extends Polymer.Element {
      static get is() {
        return 'rtw-signup-view';
      }
      static get properties() {
        return {
          cname: {
            type: String,
          },
          lastName: {
            type: String,
          },
          secondLastName: {
            type: String,
          },
          gender: {
            type: String,
          },
          email: {
            type: String,
          },
          password: {
            type: String,
          },
        };
      }
      _signUp() {
        let body = {
          'name': this.cname,
          'lastName': this.lastName,
          'secondLastName': this.secondLastName,
          'gender': 'not_specified',
          'email': this.email,
          'password': this.password,
        };
        this.$.doSignUp.body = body;
        this.$.doSignUp.generateRequest();
      }

      _login() {
        let body = {
          'email': this.email,
          'password': this.password,
        };
        this.$.doLogin.body = body;
        this.$.doLogin.generateRequest();
      }

      _onOperationSuccess(data) {
        let response = data.detail.response;
        if (response.code === 'AUTHOK002') {
          this._login();
        } else {
          let authToken = data.detail.xhr.getResponseHeader('auth_token');
          onResponseSuccess(authToken, response);
        }
      }
      _onOperationFailure(data) {
        let httpStatus = error.detail.request.status;
        if (httpStatus === 404) {
          alert('Usuario no encontrado o autenticación inválida');
        }
        if (httpStatus === 409) {
          alert('Usuario existente o parámetros inválidos');
        }
        console.log(error.detail.request.status);
      }
    }

    function onResponseSuccess(authToken, response) {
      sessionStorage['auth_token'] = authToken;
      sessionStorage['cUID'] = response.customerId;
    }

    window.customElements.define(SignupView.is, SignupView);
  </script>
</dom-module>
